@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 20px;
}
@media (min-width: 640px) {
  :root {
    font-size: 16px;
  }
}

.waiting {
  transform-origin: center;
  animation-name: waiting-outer;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.waiting circle {
  transform-origin: center;
  animation-name: waiting-inner;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes waiting-outer {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}

/* 12 * 2pi = 75.3982... */
@keyframes waiting-inner {
  0% {
    transform: rotate(0);
    stroke-dasharray: 0 0 0 0 999;
  }
  25% {
    transform: rotate(0.5turn);
    stroke-dasharray: 0 0 0 75.4 999;
  }
  50% {
    transform: rotate(1turn);
    stroke-dasharray: 0 0 75.4 75.4 999;
  }
  75% {
    transform: rotate(1.5turn);
    stroke-dasharray: 0 75.4 75.4 75.4 999;
  }
  100% {
    transform: rotate(2turn);
    stroke-dasharray: 75.4 75.4 75.4 75.4 999;
  }
}
